body{
    margin: 10px;
}
.container{
    width: 100%;
    padding: 0 10px;
}
/*选择开头是col-的类*/
[class*="col-"]{
    height: 50px;
    position: relative;
    min-height: 60px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 60px;
    padding-top: 10px;
}
.row{
    margin-right: -10px;
    margin-left: -10px;
}
.block{
    height: 50px;
    border: 1px solid #999;
    background-color: #eee;
}
*{
    box-sizing: border-box;/*CSS3属性，让border和padding全在设置的宽度内部*/
    /*--本例中为了让container也有borderbox故写在了这里面。一般写在.container *{}里面--*/
}
.clearfix:after,
.clearfix:after{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
}
/*屏宽大于等于768px时*/
@media screen and (min-width: 768px){
    .col-md-1{width: 8.33%;}
    .col-md-2{width: 16.66%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.33%;}
    .col-md-5{width: 41.66%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.33%;}
    .col-md-8{width: 66.66%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.33%;}
    .col-md-11{width: 91.66%;}
    .col-md-12{width: 100%}
}
@media screen and (max-width: 768px){
    .col-sm-1{width: 8.33%;}
    .col-sm-2{width: 16.66%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33%;}
    .col-sm-5{width: 41.66%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33%;}
    .col-sm-8{width: 66.66%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33%;}
    .col-sm-11{width: 91.66%;}
    .col-sm-12{width: 100%}
}
